@{
    Layout = null;
}
@using MyWebApp.OA.Model;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改权限信息</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script type="text/javascript">
        $(function () {

            if ($("#selActionType").val() == 0) {
                $("#ImgIconTr").hide();
                $("#IConUrl").hide();
            }
            bindselActionType();
            bindBtnUp();
        });

        function bindBtnUp() {

            $("#btnUploadFlie").click(function () {
                if ($("#imgIcon").val() == "") {
                    $.messager.alert("提示", "请选择要上传的图片");
                    return false;

                }
                $("#editAction").ajaxSubmit({
                    type: 'post',
                    url: '/ActionInfo/GetMenuIcon',
                    success: function (data) {
                        var serverData = data.split(':');
                        if (serverData[0] == "ok") {

                            $("#imgICON").attr("src", serverData[1]);
                            $("#iconUrl").val(serverData[1]);
                        } else {
                            $.messager.alert("提示", "上传图片有误");
                            return false;
                        }
                    }
                })
            });
        }

        function bindselActionType() {
            $("#selActionType").change(function () {
                if ($(this).val() == "0") {
                    $("#ImgIconTr").fadeOut("slow");
                    $("#IConUrl").fadeOut("slow");
                } else {
                    $("#ImgIconTr").fadeIn("slow");
                    $("#IConUrl").fadeIn("slow");
                }
            });
        }

        function submitActionForm() {
            $("#editAction").submit();
        }

        function afterEditAction() {
            window.parent.afterActionEdit();
        }
    </script>
</head>
<body>
    <div>
        @{
            ActionInfo actionInfo = (ActionInfo)ViewBag.Action;
        }


        @{

            using (Ajax.BeginForm("EditInfo", new { }, new AjaxOptions() { OnSuccess = "afterEditAction", HttpMethod = "post" }, new { id = "editAction" }))
            {
                <table>
                    <tr>
                        <td>ID：</td>
                        <td>
                            <input type="hidden" name="ID" value="@actionInfo.ID" />
                        </td>
                    </tr>
                    <tr>
                        <td>权限名称：</td>
                        <td>

                            <input type="text" name="ActionInfoName" value="@actionInfo.ActionInfoName" />
                        </td>
                    </tr>
                    <tr><td>请求地址：</td><td><input type="text" name="URL" value="@actionInfo.Url" /></td></tr>
                    <tr>
                        <td>请求方法：</td>
                        <td>
                            <select name="HttpMethod">
                                @if (actionInfo.HttpMethod == "Get")
                                {
                                    <option value="Get" selected="selected">Get</option>
                                    <option value="Post">Post</option>
                                }
                                else
                                {
                                    <option value="Get">Get</option>
                                    <option value="Post" selected="selected">Post</option>
                                }



                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>权限类型：</td>
                        <td>
                            <select name="ActionTypeEnum" id="selActionType">
                                @if (actionInfo.ActionTypeEnum == 0)
                                {
                                    <option value="0" selected="selected">普通权限</option>
                                    <option value="1">菜单权限</option>
                                }
                                else
                                {
                                    <option value="0">普通权限</option>
                                    <option value="1" selected="selected">菜单权限</option>
                                }

                            </select>
                        </td>
                    </tr>

                    <tr id="ImgIconTr" >
                        <td>菜单图标：</td>
                        <td>
                            <input type="file" name="img" id="imgIcon" /><br />
                            <input type="button" name="aa" value="异步上传" id="btnUploadFlie" />

                            <div id="menuIconShow">
                                <img id="imgICON" src="@actionInfo.MenuIcon" style="width:50px;height:50px" />
                            </div>
                        </td>
                    </tr>
                    <tr id="IConUrl"><td>图标路径：</td><td><input id="iconUrl" type="text" name="MenuIcon" value="@actionInfo.MenuIcon" /></td></tr>
                    <tr><td>排序：</td><td><input type="text" name="Sort" value="@actionInfo.Sort" /></td></tr>
                    <tr><td>备注：</td><td><input type="text" name="Remark" value="@actionInfo.Remark" /></td></tr>
                    <tr><td>更新时间：</td><td><input type="text" name="ModifiedOn" value="@actionInfo.ModifiedOn" /></td></tr>
                    <tr><td>提交时间：</td><td><input type="text" name="SubTime" value="@actionInfo.SubTime" /></td></tr>

                    <tr><td>图标高：</td><td><input type="text" name="IconHeight" value="@actionInfo.IconHeight" /></td></tr>
                    <tr><td>图标宽：</td><td><input type="text" name="IconWidth" value="@actionInfo.IconWidth" /></td></tr>
                    <tr><td>删除标志：</td><td><input type="text" name="DelFlag" value="@actionInfo.DelFlag" /></td></tr>
                    <tr><td>请求方法：</td><td><input type="text" name="ActionMethodName" value="@actionInfo.ActionMethodName" /></td></tr>
                    <tr><td>请求控制器：</td><td><input type="text" name="ControllerName" value="@actionInfo.ControllerName" /></td></tr>
                </table>
            



        }
        }
    </div>
</body>
</html>
